
*.xlsx
EDM/.vscode/.ropeproject/objectdb
build/
.vscode/
bin/
manuals/
Backups/
venv/
*.json
src_unused/
.tox/
.coverage
__pycache__/
edm.egg-info
CFGs_originals/
test*.cfg
edmpy.egg*
edm_arch.egg*
*.whl
*.gz
.pypirc
CFGs/HF_2022.mdb
CFGs/HF_2022.CFG
CFGs/KH 2021.CFG
CFGs/KS2_2022.CFG
CFGs/PIVL8-Station-1_points_2022_07_21.csv
*.log
CFGs/pivl8_edmwin_datums_rs.csv
CFGs/PIVL8-Station-1_points_2022_08_07.csv
CFGs/PIVL8-Station-1_station1.geojson
CFGs/PIVL8-Station-2.CFG
src/edmpy/EDM.log
src/edmpy/EDM.ini
CFGs/PIVL8-Station-1_datums_2022_08_16.csv
CFGs/default_cfg.cfg
src/edmpy/EDM.ini
*.csv
*.geojson
CFGs/FVJJ1.CFG
CFGs/fwJj52 july 5 2022_datums.txt
CFGs/fwJj52 july 5 2022_points.txt
CFGs/fwJj52 july 5 2022_prisms.txt
CFGs/fwJj52 july 5 2022_units.txt
CFGs/FwJj52 JULY 8th 2022_datums.txt
CFGs/FwJj52 JULY 8th 2022_points.txt
CFGs/FwJj52 JULY 8th 2022_prisms.txt
CFGs/FwJj52 JULY 8th 2022_units.txt
CFGs/estset.cfg
edm_tim/
debug/
